.Destaque {
    height: 100vh;
}
.Destaque--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%,transparent 90%);
}
.Destaque--horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%,transparent 70%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left:3rem;
    padding-bottom: 15rem;
    padding-top: 7rem;
    
}

.Destaque--name {
    font-size: 6rem;
    font-weight: bold;
}

.Destaque--info {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top:2.5rem;
}

.Destaque--points,.Destaque--year, .Destaque--seasons {
    display: inline-block;
    margin-right:2.5rem;
    margin-bottom: 2.5rem;
}
.Destaque--points {
    color: #46d369;
}
.Destaque--description {
    font-size: 2rem;
    color: #999;
    max-width: 40%;
}
.Destaque--buttons {
    margin-top: 2.5rem;
}

.Destaque--btn {
    display: inline-block;
    font-size:2rem;
    font-weight: bold;
    padding: 1.2rem 2.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    text-decoration: none;
    margin-right: 1rem;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
}
.Destaque--btn:hover {
    opacity: .6;
}

.watchBtn {
    background-color: white;
    color: #111;
}
.listBtn {
    background-color: #333;
    color: white;
}
.Destaque--genres {
    margin-top: 2.5rem;
    font-size: 1.8rem;
    color: #999;
}

@media screen and (max-width:768px) {
    .Destaque {
        height: 90vh;
    }
    .Destaque--name {
        font-size: 3rem;
    }
    .Destaque--info {
        font-size: 1.6rem;
    }
    .Destaque--description {
        font-size: 1.4rem;
        max-width: 100%;
        margin-right: 3rem;
    }
    .Destaque--btn {
        font-size: 1.6rem;
    }
    .Destaque--genres {
        font-size: 1.4rem;
    }

}
@media screen and (max-width:320px) {
    .Destaque--buttons {
        padding: 0 3rem 0 0;
    }
    .Destaque--btn {
        width: 100%;
        margin-right: 0;
        margin-top: 1rem;
        font-size: 1.4rem;
    }
}